body{
    background-color: #F0EAD6;
}
#landing{
    color:#698985;
    font-family: "Garamond", serif;
}
#landing a{
    display:block;
    position:relative;
    width: fit-content;
}
#title{
    position: relative;
    top: 100px;
    transform: rotate(-10deg);
    font-size: 100px;
    text-align: center;
    
}

#places_home{

    font-size: 50px;
    top: 250px;
    left: 150px;
    transform: rotate(-20deg);
}